.header-category {
  height: 45px;
  float: right;
  margin-top: 27px;
  margin-right: -9px;
}

.header-category-show {
  width: 120px;
  height: 45px;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0, 0, 0.68, -0.07);
  direction: rtl;
  display: flex;
}

.header-category-show:hover {
  background-color: #e2e2e2;
}

.header-category-drop-down {
  display: none;
  overflow: hidden;
  background: #fff;
  position: absolute;
  right: 100px;
  z-index: 10000000000000001;
  box-shadow: rgba(0, 0, 0, 0.2) 0 15px 30px;
  border-radius: 5px;
  box-sizing: border-box;
  top: 75px;
}

.shadow-item {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.header-category-drop-down-main-menu {
  display: block;
  width: 100%;
  position: relative;
  padding-bottom: 20px;
  direction: rtl;
}

.header-category-drop-down-main-menu .header-category-drop-down-main-menu-item {
  display: block;
  list-style: none;
  width: 100px;
  height: 85px;
  float: right;
  border-bottom: solid 2px #eee;
}

.header-category-drop-down-main-menu .header-category-drop-down-main-menu-item:hover {
  border-color: #fb2b5b;
}

.header-category-drop-down-main-menu-item a {
  display: block;
  width: 100%;
  height: 85px;
  cursor: pointer;
}

.category-item {
  display: block;
  width: 100%;
  color: black;
  cursor: pointer;
}

.header-category-drop-down-main-menu .header-category-drop-down-main-menu-item:hover a {
  color: #fb2b5b;
}

.header-category-drop-down-main-menu .header-category-drop-down-main-menu-item:hover ul li a {
  color: #b3b3b3;
  cursor: pointer;
}

/* .header-category-drop-down-main-menu
  .header-category-drop-down-main-menu-item:hover
  ul {
  display: block;
} */

.header-category-drop-down-main-menu .header-category-drop-down-main-menu-item a strong {
  display: block;
  width: 100%;
  text-align: center;
  font: 13px "IRSansBold", Sans-serif;
  overflow-x: hidden;
}

.header-category-drop-down-main-menu .header-category-drop-down-main-menu-item ul {
  display: none;
  position: absolute;
  width: 560px;
  overflow: hidden;
  left: 0;
  right: 20px;
  padding-top: 20px;
}

.header-category-drop-down-main-menu .header-category-drop-down-main-menu-item ul li {
  display: block;
  float: right;
  width: 16.6666666666667%;
  height: 40px;
  box-sizing: border-box;
  font: 300 0.75em/40px "IRSans", Sans-serif;
}

.header-category-drop-down-main-menu .header-category-drop-down-main-menu-item ul li a {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding-right: 20px;
  box-sizing: border-box;
}

.header-category-drop-down-main-menu .header-category-drop-down-main-menu-item ul li a:hover {
  background: #f7f7f7;
}

.header-category-show span {
  display: block;
  font: 300 0.75em/45px "IRSans", Sans-serif;
  color: #eb0089;
  margin-right: 5px;
}

@media all and (max-width: 520px) {
  .header-category {
    margin-top: 10px;
    margin-right: 0px;
  }
}

@media all and (max-width: 750px) {
  .header-category-drop-down {
    top: 0;
    right: 0;
    width: 70%;
    position: fixed;
    max-width: auto;
  }
  .header-category-drop-down-main-menu .header-category-drop-down-main-menu-item ul li {
    width: 100%;
  }
  .header-category-drop-down-main-menu {
    height: 100vh;
    overflow-x: scroll;
  }
  .header-category-drop-down-main-menu .header-category-drop-down-main-menu-item, .header-category-drop-down-main-menu .header-category-drop-down-main-menu-item ul {
    float: none;
    width: 100px;
  }
  .header-category-drop-down-main-menu .header-category-drop-down-main-menu-item ul {
    right: 115px;
    top: 0;
    width: auto;
  }
  .closemainmenu {
    display: block;
  }
}