@font-face {
	font-family: IRSans;
	font-style: normal;
	font-weight: 500;
	src: url('/static/font/IRANSansWeb_Light.eot');
	src: url('/static/font/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('/static/font/IRANSansWeb_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('/static/font/IRANSansWeb_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('/static/font/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
	font-family: IRSansBold;
	font-style: normal;
	font-weight: 500;
	src: url('/static/font/IRANSansWeb_Medium.eot');
	src: url('/static/font/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
	url('/static/font/IRANSansWeb_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
	url('/static/font/IRANSansWeb_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('/static/font/IRANSansWeb_Medium.ttf') format('truetype');
}