
@import url(font.css);

.foodmoodbg {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
}
.foodmoodcontent {
  position: absolute;
  background: #ffffff;
  border-radius: 3px;
  width: 100%;
  max-width: 970px;
  max-height: 519px;
  display: block;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 8px 33px rgba(0, 0, 0, 0.3);
  background: #7a2364;
}
.foodmoodform {
  position: relative;
  width: 45%;
  float: right;
}
.closemodal {
  width: 30px;
  margin-top: 20px;
  margin-right: 20px;
}
.closemodal:path {
  fill: red;
}
.closemodal:hover {
  border-radius: 40px;
  background: rgba(0, 0, 0, 0.15);
}

.register {
  display: none;
}

.retry-after-one-muinute{
  display: none;
}
.close-foodmood {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  width: 30px;
  height: 30px;
  border: 1px solid #8a8a8a;
  border-radius: 100%;
  color: #8a8a8a;
  cursor: pointer;
}
.close-foodmood:hover {
  background: #ff5a5f;
  color: #ffffff;
}
.foodmoodform p {
  color: #858585;
  margin: 10px 2%;
}
.register p button {
  color: #03c8fa;
  background: none;
  border: none;
  cursor: pointer;
}
.login p,
.register p {
  font: 500 0.75em/27px "IRSans", Sans-serif;
}
.login p button {
  color: #ee541c;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "IRSans";
}
.foodmoodlogo {
  text-align: center;
  display: block;
  max-width: 205px;
  margin-top: 50px;
  margin: 2% auto;
  padding-top: 70px;
}
.foodmoodlogo img {
  width: 100%;
  max-width: 140px;
  margin-bottom: 40px;
}
.foodmoodform input {
  direction: ltr;
  display: block;
  width: 100%;
  max-width: 295px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  color: #858585;
  margin: 2% auto;
  text-align: right;
  padding: 10px;
  font-family: "IRSans";
  text-align: center;
}
.foodmoodform input:hover,
.foodmoodform input:focus,
.foodmoodform button:focus {
  outline: none;
}
.pttdemail {
  font-size: 12px;
  float: right;
  color: #3575d3;
  margin-right: 10%;
}
.submitfoodmood {
  display: block;
  background: #24a59c;
  color: #ffffff;
  width: 175px;
  border: none;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 0px;
  font-family: "IRSans";
}
.foodmoodpicture {
  width: 55%;
  display: inline-block;
}
.foodmoodpicture-img {
  float: left;
  width: 100%;
  max-width: 590px;
  height: 520px;
  border-radius: 3px 0 0 3px;
}
.foodmoodcontent::-webkit-scrollbar {
  margin: 5px;
  width: 6px;
  height: 2px;
}

.foodmoodcontent::-webkit-scrollbar-track {
  background: #bbc7d3;
  border-radius: 5px;
}

.foodmoodcontent::-webkit-scrollbar-thumb {
  background: #a4b4c4;
  border-radius: 5px;
  width: 2px;
}
@media (max-width: 768px) {
  .foodmoodcontent {
    overflow-y: hidden;
  }
  .foodmoodform {
    width: 100%;
  }
  .foodmoodpicture {
    width: 100%;
    text-align: center;
  }
  .foodmoodpicture img {
    float: none;
    text-align: center;
    height: auto;
    display: none;
  }
  .vodio-caption {
    display: none;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.register-panel {
  font: 0.8em "IRSans";
}

.register-button {
  width: 80px;
  height: 50px;
  border-radius: 5px;
  color: #7d1d65;
  font: 17px "IRSans";
  cursor: pointer;
}

input::-webkit-input-placeholder {
  color: #9b989ac7 !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #9b989ac7 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9b989ac7 !important;
}

input:-ms-input-placeholder {
  color: #9b989ac7 !important;
}

.vodio-caption {
  width: 55%;
  height: 70px;
  position: absolute;
  bottom: 0;
}
.pointer {
  float: left;
  background: url(static/img/pointer.png) no-repeat;
  margin-top: 27px;
  width: 15px;
  background-size: contain;
  margin-left: 27px;
}

.wrong-code {
  display: none;
  text-align: center;
  font-size: 13px;
  color: #24a59c;
  direction:rtl;
}

.mobile-number {
  width: fit-content;
  position: absolute;
  left: 20px;
  top: 25px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}
